footer {
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

#searchpagebtn {
  background-color: transparent;
  border-width: 0;
}

#searchtext {
  color: #8F8F8F;
  font-size: 17px;
  font-family: quicksand;
  /* font-weight: bold; */
}

#searchpage {
  color: #8F8F8F;
  padding-bottom: 3px;
}