html, body {
    margin:0;
    padding:0;
}
#container {
    width: 100vw;
    height: 100vh;
}
#header {
    width: 100%;
    height: 5%;
    font-size: 30px;
    color: white;
    background-color: #39A36A;
    text-align: center;
}