header {
  background-color: #39A36A;
  width: 100%;
  /* justify-items: center; */
  /* align-items: center; */
  display: grid;

  object-fit: contain;
  grid-template-columns: 85% 15%;
  grid-template-areas:
    "searchbar magnifying";

  position: fixed;
  top: 0;

}

.searchbar {
  /* margin: auto; */
  /* justify-self: center; */
  height: 75px;
  width: 100%;
  /* align-items: center; */
  grid-area: searchbar;
  border-radius: 20px;
  margin-left: 6%;

  /* display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
  "input"; */
}

input {
  width: 97%;
  /* margin-left: 6%; */
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: 0px;
  /* padding-left: 20px;
  padding-right: 20px; */
  grid-area: input;
  border-radius: 5px;
  padding-left: 15px;
}

/* vertically center placeholder text */
/* input::placeholder {
  transform: translateY(-7px);
  font-size: 15px;
} */


/* to make placeholder text in the search bar disappear upon clicking the form */
input:focus::placeholder {
  color: transparent;
}

.magnifying {
  grid-area: magnifying;
}

header .material-symbols-outlined {
  /* background-color: white; */
  /* margin-top: 20px;
  margin-right: 10px; */
  /* padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 3px;
  padding-left: 3px; */
  height: fit-content;
  width: fit-content;
  padding-top: 5px;
  /* padding-top: 15px; */
}

#searchbtn {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  margin-top: 19px;
  margin-left: 20%;
  /* margin-left: 8%; */
  /* border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-width: 1px; */
  border-radius: 5px;
  border-width: 1px;
  padding-bottom: 4px;
  padding-right: 7px;
  padding-left: 7px;
}
