html, body {
    margin: 0;
    padding: 0px;
}
#container {
    width: 100vw;
    height: 100vh;
}
#header {
    height: 5%;
    justify-content: center;
    width: 100%;
    background-color: #39A36A;
}
#textprompt {
    margin-top: 0.5em;
    text-align: center;
    font-size: 24px;
}
.back {
    margin: 1em;
}
#flyer {
    display: flex;
    position: relative;
    background-color: #8F8F8F;
    margin-top: 1em;
    margin-left:auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
}
#searchbar {
    background-color: white;
    border-radius: 5px;
    position: relative; 
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    margin: auto;
    width: 70%;
}
input {
    border-radius: 5px;
    border-style: none;
    width: 100%;
}
button {
    border-radius: 5px;
    border-style: none;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  #footer {
    display: flex;
    justify-content: space-around;
    background-color: white;
    overflow: hidden;
    position: fixed;
    border-style: solid;
    border-color: #8F8F8F;
    bottom: 0;
    width: 100%;
  }
#footer a {
    float: left;
    display: block;
    color: #8F8F8F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}