* {
  font-family: 'Quicksand', sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
}



/* search result & sort button */
.top {
  display: grid;
  grid-area: top;
  margin-top: 5px;
  padding-bottom: 5px;

  align-items: center;

  grid-template-columns: 85% 15%;
  grid-template-areas:
    "text sort";
}

.text {
  grid-area: text;
  align-self: right;
}


.sort {
  grid-area: sort;
  justify-self: center;
  visibility: hidden;
}

.sort .material-symbols-outlined {
  font-size: 40px;
}




/* body & container */
body {
  display: grid;
  /* width: 90vw; */
  object-fit: contain;

}

.container {
  /* grid-template-columns: 80% 10%; */
  /* width: 90vw; */
  /* margin: auto; */
  margin-top: 75px;
  margin-bottom: 70px;
  padding-right: 3%;
  padding-left: 3%;

  grid-template-areas:
    "top"
    "allresults";
  
}

@media only screen and (min-width: 800px){ 
  .allresults {
    grid-area: allresults;
    grid-template-columns: repeat(2, 45%);
    grid-auto-rows: 25%;
  }
}

/* results */
.allresults {
  grid-area: allresults;
  grid-template-columns: 80vw;
  grid-auto-rows: 25%;
}


.result {
  grid-area: result;
  display: grid;
  grid-template-columns: 100px 140px 40px; /*40% 45% 15% */
  column-gap: 20px;
  /* grid-template-rows: 50%; */
  object-fit: contain;
  justify-content: center;

  padding-top: 15px;
  padding-bottom: 20px;
  margin-bottom: 15px;

  border-color: black;
  border-width: 1px;

  height: 120px;
  grid-template-areas:
    "image info counter";

  border-style: solid;
  border-radius: 5px;
  border-color: #c7c7c7;
}



/* image on the left */

.image , #productimage {
  grid-area: image;
  /* height: 100%; */
  width: 100%;
  object-fit: contain;
  padding-right: 3%;
  padding-left: 3%;

  align-self: center;
}

/* info in the middle */
.info {
  display: grid;
  grid-template-rows: 40% 20% 20% 20%;

  grid-template-areas:
    "store"
    "price"
    "item"
    "detail"
    
}

.info {
  grid-area: info;
}

.store {
  grid-area: store;
  object-fit: cover;
  width: 100%;

}

#storelogo , .storelogo {
  height: 30px;
  padding-bottom: 2%;
}

.item {
  grid-area: item;
}

.detail {
  grid-area: detail;
  font-size: 14px;
  
}

.price {
  grid-area: price;
}



/* on the right: counter or now just add and bookmark */
.material-icons{
  cursor: pointer;
}

.counter {
  display: grid;
  /* align-items: center; */
  justify-items: center;
  /* grid-template-rows: ; */

  padding-left: 3%;
  padding-right: 3%;
  grid-template-areas:
    "plus";
    /* "bookmark"; */

  align-items: flex-start;
}

.counter {
  grid-area: counter;
}


.bookmark {
  align-self: flex-end;
}

.plus {
  grid-area: plus;
}

.addbutton {
  border-width: 0;
  background-color: transparent;
}

.counter .material-symbols-outlined {
  font-size: 35px;
  /* color: ; */
}

.bookmark .material-symbols-outlined {
  font-size: 45px;
  /* color: ; */
}

#footer {
  display: flex;
  justify-content: space-around;
  background-color: white;
  overflow: hidden;
  position: fixed;
  border-style: solid;
  border-color: #8F8F8F;
  bottom: 0;
  width: 100%;
}
.textprompt {
  margin: 1em;
  font-size: 30px;
  text-align: center;
}
#footer a {
  float: left;
  display: block;
  color: #8F8F8F;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#searchpage{
  color: #39A36A;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#searchtext {
  font-weight: bolder;
  color: #39A36A;
}

button {
  cursor: pointer;
}

.counter .material-symbols-outlined {
  font-size: 35px;
  color: #6e6e6e;
  /* color: ; */
}

.filled {
  color: #39A36A;
  background-color: #39A36A;
}

.minusbutton {
  border-width: 0px;
  background-color: transparent;
  color: transparent;
}

.minus {
  color: transparent;
}

.minus:active {
  font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;
}

/* .invisible {
  color: transparent;
  background-color: transparent;
  border-width: 0px;
} */

.bookmark .material-symbols-outlined {
  font-size: 45px;
  /* color: ; */
}

/* footer .material-symbols-outlined {
  font-size: 40px;
  color: #8F8F8F;
} */

.list .material-symbols-outlined {
  font-size: 45px;
}


.account .material-symbols-outlined {
  font-size: 40px;
}

.search .material-symbols-outlined {
  color: #39A36A;
}

.texthome,
.textlist,
.textaccount {
  color: #8F8F8F;
  font-weight: bold;
}

.textsearch {
  color: #39A36A;
  font-weight: bold;
}

/* footer {
  border-style: solid;
  border-color: #8F8F8F;
  border-width: 1px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
} */
