* {
  font-family: 'Quicksand', sans-serif;
}



.top {
  display: grid;
  grid-area: top;
  margin-top: 5px;
  padding-bottom: 20px;

  align-items: center;

  grid-template-columns: 85% 15%;
  grid-template-areas:
    "text sort";
}

.text {
  grid-area: text;
  align-self: right;
}


.sort {
  grid-area: sort;
  justify-self: center;
}

.sort .material-symbols-outlined {
  font-size: 40px;
}




body {
  display: grid;
  /* width: 90vw; */
  object-fit: contain;

}

.container {
  /* grid-template-columns: 80% 10%; */
  /* width: 90vw; */
  /* margin: auto; */
  margin-top: 75px;
  margin-bottom: 70px;
  padding-right: 3%;
  padding-left: 3%;

  grid-template-areas:
    "top"
    "allresults";
  
}



header {
  background-color: #39A36A;
  width: 100%;
  /* justify-items: center; */
  /* align-items: center; */
  display: grid;

  object-fit: contain;
  grid-template-columns: 85% 15%;
  grid-template-areas:
    "searchbar magnifying";

  position: fixed;
  top: 0;

}


.searchbar {
  margin: auto;
  /* justify-self: center; */
  height: 75px;
  width: 100%;
  /* align-items: center; */
  grid-area: searchbar;

  /* display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
  "input"; */
}

input {
  width: 97%;
  margin-left: 3%;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: 0px;
  padding-left: 20px;
  padding-right: 20px;
  grid-area: input;
}

/* vertically center placeholder text */
/* input::placeholder {
  transform: translateY(-7px);
  font-size: 15px;
} */

/* to make placeholder text in the search bar disappear upon clicking the form */
input:focus::placeholder {
  color: transparent;
}


.magnifying {
  grid-area: magnifying;
}

header .material-symbols-outlined {
  background-color: white;
  margin-top: 20px;
  margin-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 3px;
  padding-left: 3px;
  height: fit-content;
  width: fit-content;
  /* padding-top: 15px; */
}



.allresults {
  grid-area: allresults;
  grid-template-columns: 80vw;
  grid-auto-rows: 25%;

}


.result {
  grid-area: result;
  display: grid;
  grid-template-columns: 100px 140px 40px; /*40% 45% 15% */
  column-gap: 20px;
  /* grid-template-rows: 50%; */
  object-fit: contain;
  justify-content: center;

  padding-bottom: 50px;

  border-color: black;
  border-width: 1px;

  height: 120px;
  grid-template-areas:
    "image info counter";

}

.info {
  display: grid;
  grid-template-rows: 40% 20% 20% 20%;

  grid-template-areas:
    "store"
    "price"
    "item"
    "detail"
    
}

.counter {
  display: grid;
  /* align-items: center; */
  justify-items: center;
  grid-template-rows: 50% 50%;

  padding-left: 3%;
  padding-right: 3%;
  grid-template-areas:
    "plus"
    "bookmark";
}

.bookmark {
  align-self: flex-end;
}


.image {
  grid-area: image;
  /* height: 100%; */
  width: 100%;
  object-fit: contain;
  padding-right: 3%;
  padding-left: 3%;

  align-self: center;
}

.info {
  grid-area: info;
}

.store {
  grid-area: store;
  object-fit: cover;
  width: 100%;

}

.storelogo {
  height: 30px;
  padding-bottom: 2%;
}

.item {
  grid-area: item;
}

.detail {
  grid-area: detail;
  font-size: 14px;
  
}

.price {
  grid-area: price;
}

.counter {
  grid-area: counter;
}

.plus {
  grid-area: plus;
}

.qty {
  grid-area: qty;
}

.minus {
  grid-area: minus;
}

footer {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80% 20%;
  align-items: center;
  justify-items: center;

  padding-bottom: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}


.counter .material-symbols-outlined {
  font-size: 35px;
  /* color: ; */
}

.bookmark .material-symbols-outlined {
  font-size: 45px;
  /* color: ; */
}

footer .material-symbols-outlined {
  font-size: 40px;
  color: #8F8F8F;
}

.list .material-symbols-outlined {
  font-size: 45px;
}


.account .material-symbols-outlined {
  font-size: 40px;
}

.search .material-symbols-outlined {
  color: #39A36A;
}

.texthome,
.textlist,
.textaccount {
  color: #8F8F8F;
  font-weight: bold;
}

.textsearch {
  color: #39A36A;
  font-weight: bold;
}

footer {
  border-style: solid;
  border-color: #8F8F8F;
  border-width: 1px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}