@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body, html {
  margin: 0;
  padding: 0;
  }

* {
  font-family: 'Quicksand', sans-serif;
}

header {
  background-color: #39A36A;
  width: 100%;
  /* justify-items: center; */
  /* align-items: center; */
  display: grid;
  object-fit: contain;
  grid-template-columns: 85% 15%;
  grid-template-areas:
    "searchbar magnifying";
}

.searchbar {
  margin: auto;
  /* justify-self: center; */
  height: 75px;
  width: 100%;
  /* align-items: center; */
  grid-area: searchbar;

  /* display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
  "input"; */
}

input {
  width: 97%;
  margin-left: 3%;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: 0px;
  padding-left: 20px;
  padding-right: 20px;
  grid-area: input;
}

/* vertically center placeholder text */
/* input::placeholder {
  transform: translateY(-7px);
  font-size: 15px;
} */

/* to make placeholder text in the search bar disappear upon clicking the form */
input:focus::placeholder {
  color: transparent;
}


.magnifying {
  grid-area: magnifying;
}

header .material-symbols-outlined {
  background-color: white;
  margin-top: 20px;
  margin-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 3px;
  padding-left: 3px;
  height: fit-content;
  width: fit-content;
  /* padding-top: 15px; */
}


.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
  grid-template-rows:15vh 70vh 15vh
}

#heading {
  grid-column: 1/span 5;
  grid-row: 1/span 1;
  display: flex;
  justify-content: center;
}

#items {
  grid-column: 1/span 5;
  grid-row: 2/span 1;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  
}


.list-group-item {
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: 10vw 20vw 20vw 20vw 20vw 10vw;
  padding-bottom: 15px;
}

.item-name {
  grid-column: 2/span 1;
  text-align: center;
}
.item-price{
  grid-column: 3/span 1;
  text-align: center;
}
.item-store{
  grid-column: 4/span 1;
  text-align: center;
}

#message {
  overflow: hidden;
  position: absolute;
  top: 35%;
  width: 100%; 
  display: flex;
  justify-content: center;
}


#savebox {
  overflow: hidden;
  background-color: white;  
  position: fixed;
  bottom: 125px;
  width: 100%; 
   
}

#savebox button{
  background-color: #39A36A;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  border-style: none;
  margin:0 auto;
  display:block;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#footer {
  display: flex;
  justify-content: space-around;
  background-color: white;
  overflow: hidden;
  position: fixed;
  border-style: solid;
  border-color: #8F8F8F;
  bottom: 0;
  width: 100%;
}
#footer a {
  float: left;
  display: block;
  color: #8F8F8F;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


button:hover {
  cursor: pointer;
}







